.login{
    position: relative;
    display: grid;
    max-width: 1440px;
    grid-template-columns: 50% 50%;
    /* height: 1110px; */
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.login-section-1{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100vh;
    max-height: 1200px;
    background: linear-gradient(180deg, #2D3092 -4.69%, #3D40B6 53.89%, #4247CE 109.38%);
    border-radius: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.login-section-2{
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100vh;
    /* max-width: 700px; */
    max-height: 1200px;
    background-color: transparent;
    margin-left: 60px;
    overflow-y: scroll;
}
.login-page-back-btn{
    border: none;
    text-decoration: underline;
    background: transparent;
    font-size: 18px;
    margin-bottom: 0px;
}
.login-page-back-btn:hover{
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.login-page-sign-up-text{
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-top: 45px;
    margin-bottom: 15px;
}
.login-page-sign-up-text-sub-heading{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    margin-right: 20px;
}
/* login Form Css */
.login-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    margin-bottom: 40px;
}

.login-info-text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px;
}